[submodule "project/libgit2pp"]
	path = subprojects/libgit2pp
	url = https://gitlab.com/blobfish/libgit2pp.git
[submodule "libreoffice/libzippp"]
	path = subprojects/libzippp
	url = https://gitlab.com/blobfish/libzippp.git
[submodule "sketch/solvespace"]
	path = subprojects/solvespace
	url = https://gitlab.com/blobfish/solvespace.git
[submodule "subprojects/libigl"]
	path = subprojects/libigl
	url = https://gitlab.com/blobfish/libigl.git
[submodule "subprojects/osgQt"]
	path = subprojects/osgQt
	url = https://gitlab.com/blobfish/osgqt.git
[submodule "subprojects/pmp-library"]
	path = subprojects/pmp-library
	url = https://gitlab.com/blobfish/pmp-library.git
[submodule "subprojects/libcadcalc"]
	path = subprojects/libcadcalc
	url = https://gitlab.com/blobfish/libcadcalc.git
