[submodule "libgit2pp"]
	path = subprojects/libgit2pp
	url = https://gitlab.com/blobfish/libgit2pp.git
[submodule "libzippp"]
	path = subprojects/libzippp
	url = https://gitlab.com/blobfish/libzippp.git
[submodule "solvespace"]
	path = subprojects/solvespace
	url = https://gitlab.com/blobfish/solvespace.git
[submodule "libigl"]
	path = subprojects/libigl
	url = https://gitlab.com/blobfish/libigl.git
