[submodule "libgit2pp"]
	path = subprojects/libgit2pp
	url = https://gitlab.com/blobfish/libgit2pp.git
	branch = cadseer
[submodule "libzippp"]
	path = subprojects/libzippp
	url = https://gitlab.com/blobfish/libzippp.git
	branch = cadseer
[submodule "solvespace"]
	path = subprojects/solvespace
	url = https://gitlab.com/blobfish/solvespace.git
	branch = cadseer
[submodule "libigl"]
	path = subprojects/libigl
	url = https://gitlab.com/blobfish/libigl.git
	branch = cadseer
[submodule "osgQt"]
	path = subprojects/osgQt
	url = https://gitlab.com/blobfish/osgqt.git
	branch = cadseer
[submodule "pmp-library"]
	path = subprojects/pmp-library
	url = https://gitlab.com/blobfish/pmp-library.git
	branch = cadseer
[submodule "libcadcalc"]
	path = subprojects/libcadcalc
	url = https://gitlab.com/blobfish/libcadcalc.git
	branch = master
